Repository eegli/pampa.place: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix eol issues
  .editorconfig
  .eslintrc.json
  src/__tests__/utils.tsx
Due: prettier --write

update readme
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix readme links
  README.md
Due: prettier --write

add license
  LICENSE
Due: none

add score calculation docs
  README.md
Due: prettier --write

add docs content
  package.json
  src/components/typography/retro-title.tsx
  src/pages/poc/docs.page.tsx
  src/utils/geo.ts
  yarn.lock
Due: prettier --write, eslint --fix

escape characters
  src/pages/poc/docs.page.tsx
Due: none

wip
  src/pages/poc/docs.page.tsx
Due: none

update drawer and tests
  src/components/nav/drawer/drawer.test.tsx
  src/components/nav/drawer/drawer.tsx
  src/pages/docs.page.tsx
Due: none

remove unused packages
  package.json
  src/pages/poc/md.page.tsx
  yarn.lock
Due: prettier --write

feat/docs-integration (#23)
  package.json
  src/components/nav/drawer/drawer.test.tsx
  src/components/nav/drawer/drawer.tsx
  src/components/typography/retro-title.tsx
  src/pages/docs.page.tsx
  src/pages/poc/md.page.tsx
  src/utils/geo.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix street view not setting static options
  src/components/google/street-view.tsx
Due: none

upgrade mocks and add wip custom maps page
  package.json
  src/__tests__/__snapshots__/setup.test.ts.snap
  src/__tests__/setup.test.ts
  src/__tests__/setup.ts
  src/pages/poc/my-maps.page.tsx
  yarn.lock
Due: prettier --write, eslint --fix

figgs ze linterrr
  src/pages/poc/my-maps.page.tsx
Due: none

big fat refactor in progress
  package.json
  src/components/form/fields/select-map.tsx
  src/components/google/map.tsx
  src/components/google/preview.tsx
  src/components/nav/drawer/drawer.tsx
  src/components/play/play.tsx
  src/components/round/round-over.tsx
  src/config/constants.ts
  src/config/helpers/creator.ts
  src/config/maps.ts
  src/config/types.ts
  src/pages/api/maps/common/index.ts
  src/pages/api/maps/v1/categories/index.page.ts
  src/pages/api/maps/v1/data/index.page.ts
  src/pages/api/maps/v1/health/index.page.ts
  src/pages/api/maps/v1/ids/index.page.ts
  src/pages/api/maps/v1/index.page.ts
  src/pages/api/maps/v1/info/index.page.ts
  src/pages/api/maps/v1/meta/index.page.ts
  src/pages/poc/my-maps.page.tsx
  src/pages/preview.page.tsx
  src/pages/wrappers/auth.tsx
  src/redux/game/index.ts
  src/redux/position/thunks.ts
  yarn.lock
Due: prettier --write, eslint --fix

create custom maps page
  src/components/feedback/dialog-confirm.tsx
  src/components/feedback/dialog-preview.tsx
  src/components/form/fields/select-map.tsx
  src/components/nav/drawer/drawer.tsx
  src/components/nav/speed-dial/speed-dial-confirm.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/components/play/play.tsx
  src/components/round/round-over.tsx
  src/config/maps.ts
  src/pages/poc/my-maps.page.tsx
  src/redux/game/index.ts
  src/redux/position/thunks.ts
Due: prettier --write, eslint --fix

fix api routes
  src/pages/api/maps/common/index.ts
  src/pages/api/maps/v1/categories/index.page.ts
  src/pages/api/maps/v1/data/index.page.ts
  src/pages/api/maps/v1/info/index.page.ts
  src/pages/api/maps/v1/meta/index.page.ts
  src/pages/api/maps/v1/properties/index.page.ts
Due: prettier --write, eslint --fix

improved map generation and edit custom maps
  src/config/helpers/enhancer.ts
  src/config/helpers/generator.ts
  src/config/helpers/validator.ts
  src/config/maps.ts
  src/config/types.ts
  src/pages/poc/my-maps.page.tsx
  src/redux/game/index.ts
  src/utils/geo.ts
Due: prettier --write, eslint --fix

cleanup local map logic
  src/pages/poc/my-maps.page.tsx
Due: none

add some docs
  src/pages/poc/my-maps.page.tsx
Due: none

rename stuff and update mocks
  src/components/form/form.tsx
  src/components/nav/drawer/drawer.tsx
  src/config/__mocks__/maps.ts
  src/pages/docs.page.tsx
  src/pages/poc/my-maps.page.tsx
  src/styles/utils.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

preview page improvements
  package.json
  src/pages/preview.page.tsx
  src/utils/geo.ts
Due: prettier --write, eslint --fix

update tests
  src/components/form/form.test.tsx
  src/components/google/google.test.tsx
  src/components/nav/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/config/__fixtures__/index.ts
  src/config/__mocks__/maps.ts
Due: prettier --write, eslint --fix

update api routes
  src/pages/api/maps/common/index.ts
  src/pages/api/maps/v1/data/index.page.ts
  src/pages/api/maps/v1/index.page.ts
  src/pages/api/maps/v1/meta/index.page.ts
  src/pages/api/maps/v1/properties/index.page.ts
Due: prettier --write, eslint --fix

mark custom maps page as experimental
  src/components/nav/drawer/drawer.tsx
  src/pages/poc/my-maps.page.tsx
Due: none

map creation improvements
  src/config/__mocks__/maps.ts
  src/config/helpers/generator.ts
  src/config/maps.ts
  src/config/types.ts
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/api/maps/common/index.ts
  src/redux/game/index.ts
Due: prettier --write, eslint --fix

fix tests
  src/config/__mocks__/maps.ts
Due: prettier --write, eslint --fix

tests for local maps page
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: none

allow features and featurecollection for import
  src/config/__fixtures__/index.ts
  src/config/__tests__/helpers.test.ts
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: prettier --write, eslint --fix

add note for poc pages
  src/pages/poc/readme.md
Due: prettier --write

fix los linters
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: none

dont use tobeindocument matcher
  src/components/form/form.test.tsx
  src/components/google/google.test.tsx
  src/components/nav/drawer/drawer.test.tsx
  src/components/nav/header/header.test.tsx
  src/components/nav/speed-dial/speed-dial.test.tsx
  src/components/play/play.test.tsx
  src/components/round/round.test.tsx
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/wrappers/login.test.tsx
Due: none

poc: improved local map handling
  src/components/form/fields/select-map.tsx
  src/config/helpers/enhancer.ts
  src/config/types.ts
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
  src/utils/geo.ts
Due: prettier --write, eslint --fix

configure new eslint rules
  .eslintrc.json
  .lintstagedrc.json
  package.json
  src/__tests__/setup.ts
  src/components/form/form.test.tsx
  src/components/nav/speed-dial/speed-dial.test.tsx
  src/components/play/header/header.test.tsx
  src/components/round/round.test.tsx
  src/config/__fixtures__/index.ts
  src/config/types.ts
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/docs.page.tsx
  src/pages/game.page.tsx
  src/pages/poc/my-maps.page.tsx
  src/pages/wrappers/login.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix geojson types
  src/config/__fixtures__/index.ts
  src/config/types.ts
Due: prettier --write, eslint --fix

adjust types
  src/config/__fixtures__/index.ts
Due: prettier --write, eslint --fix

localstorage tests for custom maps
  package.json
  src/components/form/form.test.tsx
  src/components/nav/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/config/__fixtures__/index.ts
  src/config/__mocks__/maps.ts
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: prettier --write, eslint --fix

improve confirmation dialoges
  src/components/feedback/dialog-confirm.tsx
  src/components/feedback/dialog-preview.tsx
  src/components/form/fields/select-map.tsx
  src/components/nav/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/components/nav/speed-dial/speed-dial.test.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: none

work on dialogs
  src/components/feedback/dialog-confirm.tsx
  src/components/feedback/dialog-preview.tsx
  src/components/form/fields/select-map.tsx
  src/components/nav/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/components/nav/speed-dial/speed-dial.test.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --fix: any of: *.ts
