Repository eegli/pampa.place: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

refactor confirmation and map preview dialogs
  src/components/feedback/dialog-confirm.test.tsx
  src/components/feedback/dialog-confirm.tsx
  src/components/feedback/dialog-preview.test.tsx
  src/components/feedback/dialog-preview.tsx
  src/components/nav/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/components/nav/speed-dial/speed-dial.test.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: none

update header tests
  src/components/google/google.test.tsx
  src/components/nav/header/header.test.tsx
  src/components/nav/header/header.tsx
Due: none

fix build
  src/components/form/fields/select-map.tsx
Due: none

close speed dial after success cb
  src/components/nav/speed-dial/speed-dial.tsx
Due: none

dialog fixes and test updates
  src/components/nav/speed-dial/speed-dial.test.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
Due: none

cleanup tests for custom maps page
  src/config/__fixtures__/index.ts
  src/config/__mocks__/maps.ts
  src/config/__tests__/helpers.test.ts
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
Due: eslint --cache, prettier --write

final custom maps page tests
  src/config/__tests__/helpers.test.ts
  src/pages/__tests__/my-maps.page.test.tsx
Due: eslint --cache, prettier --write

simplify tests
  src/config/__fixtures__/index.ts
  src/config/__tests__/helpers.test.ts
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
Due: eslint --cache, prettier --write

fix a few imports here and there
  src/components/form/fields/select-map.tsx
  src/components/form/form.test.tsx
  src/components/google/google.test.tsx
  src/components/nav/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/components/nav/speed-dial/speed-dial.tsx
  src/components/play/play.tsx
  src/components/round/round.test.tsx
  src/config/__fixtures__/index.ts
  src/pages/__tests__/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/__tests__/my-maps.page.test.tsx
  src/pages/docs.page.tsx
  src/pages/game.page.tsx
  src/pages/index.page.tsx
  src/pages/poc/map-test.page.tsx
  src/pages/preview.page.tsx
  src/pages/wrappers/auth.tsx
Due: eslint --cache, prettier --write

add us maps again and fix el buildo
  geojson/alps.json
  src/config/maps.ts
  src/pages/poc/map-test.page.tsx
Due: eslint --cache, prettier --write

somethings wrong with vercel wtf
  src/pages/wrappers/login.tsx
Due: none

allow logging in from any url
  src/pages/wrappers/login.tsx
Due: none

allow logging in from any url (#25)
  src/pages/wrappers/login.tsx
Due: none

fix router tests
  src/__tests__/setup.ts
Due: eslint --cache, prettier --write

re-enable correct urls after authentication
  src/pages/wrappers/login.tsx
Due: none

reset error screen for unavailable sv data
  src/pages/game.page.tsx
  src/redux/position/index.ts
Due: eslint --cache, prettier --write

add ga
  package.json
  src/lib/analytics.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: prettier --write

fix build
  src/pages/_app.page.tsx
Due: none

conditional ga
  src/lib/analytics.tsx
Due: none

fix build
  src/lib/analytics.tsx
  src/pages/_app.page.tsx
Due: none

feat/minimal-analytics (#26)
  package.json
  src/lib/analytics.tsx
  src/pages/_app.page.tsx
  yarn.lock
Due: prettier --write

generic error comp and move stuff
  src/components/feedback/dialog.test.tsx
  src/components/feedback/dialog.tsx
  src/components/feedback/error.tsx
  src/components/nav/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/components/nav/speed-dial/speed-dial.test.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/pages/game.page.test.tsx
  src/pages/game.page.tsx
  src/pages/poc/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/poc/my-maps.page.test.tsx
  src/pages/poc/my-maps.page.tsx
Due: none

optimize font strategy
  src/pages/_document.page.tsx
Due: none

disable cors for maps endpoint
  next.config.js
Due: none

upgrade deps to latest and fix global css
  package.json
  src/pages/_app.page.tsx
  src/pages/wrappers/theme.tsx
  src/styles/global.css
  src/styles/global.tsx
  yarn.lock
Due: prettier --write

more map validation tests
  src/__tests__/setup.ts
  src/config/__tests__/helpers.test.ts
  src/config/helpers/validator.ts
Due: eslint --cache, prettier --write

quick analytics snapshots
  src/__tests__/setup.ts
  src/lib/analytics.test.tsx
  src/lib/analytics.tsx
Due: eslint --cache, prettier --write

refactor session storage mocks
  src/__tests__/setup.ts
  src/components/form/form.test.tsx
  src/components/nav/drawer/drawer.test.tsx
  src/lib/analytics.test.tsx
  src/pages/wrappers/login.test.tsx
Due: eslint --cache, prettier --write

test refactors and drawer fixes
  jest.config.js
  package.json
  src/components/feedback/dialog.tsx
  src/components/form/form.tsx
  src/components/nav/drawer/drawer.test.tsx
  src/components/nav/drawer/drawer.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/components/play/header/header.test.tsx
  tests/__snapshots__/setup.test.ts.snap
  tests/setup.test.ts
  tests/setup.ts
  tests/utils.tsx
  tsconfig.json
  yarn.lock
Due: eslint --cache, prettier --write

improve router mocks
  src/components/nav/drawer/drawer.test.tsx
  tests/setup.ts
Due: eslint --cache, prettier --write

form tests
  src/components/feedback/dialog-preview.tsx
  src/components/feedback/dialog.tsx
  src/components/form/__snapshots__/form.test.tsx.snap
  src/components/form/fields/select-map.tsx
  src/components/form/form.test.tsx
Due: none

improve drawer and update tests
  src/components/feedback/dialog.tsx
  src/components/nav/drawer/drawer.test.tsx
  src/components/nav/drawer/drawer.tsx
  src/components/nav/header/header.tsx
  tests/setup.ts
Due: eslint --cache, prettier --write

wrap up form tests
  src/components/form/form.test.tsx
  src/components/nav/header/header.test.tsx
  src/pages/poc/my-maps.page.test.tsx
Due: none

move fixtures to test dir
  src/components/form/form.test.tsx
  src/components/google/google.test.tsx
  src/config/__mocks__/maps.ts
  src/config/__tests__/helpers.test.ts
  src/pages/poc/my-maps.page.test.tsx
  tests/fixtures/map.ts
  tsconfig.json
Due: eslint --cache, prettier --write

add us maps and update docs
  README.md
  geojson/raw/US-geojson-maps.ash.ms.json
  geojson/us-states.json
  geojson/us.json
  package.json
  src/config/maps.ts
Due: eslint --cache, prettier --write

improve tests and fix position error handling
  src/components/feedback/dialog-preview.tsx
  src/components/nav/speed-dial/speed-dial.tsx
  src/components/play/header/header.test.tsx
  src/pages/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/game.page.test.tsx
  src/pages/game.page.tsx
  src/pages/my-maps.page.test.tsx
  src/pages/my-maps.page.tsx
  src/pages/poc/__snapshots__/my-maps.page.test.tsx.snap
  src/pages/wrappers/__snapshots__/auth.test.tsx.snap
  src/pages/wrappers/auth.test.tsx
  src/pages/wrappers/auth.tsx
  src/pages/wrappers/login.test.tsx
  tests/setup.test.ts
Due: eslint --cache, prettier --write

fix build
  src/pages/game.page.tsx
  src/pages/wrappers/login.test.tsx
Due: none

update drawer links
  src/components/nav/drawer/drawer.test.tsx
  src/components/nav/drawer/drawer.tsx
  src/components/views/intermissions/__snapshots__/round.test.tsx.snap
Due: none

fix lint-staged
  .lintstagedrc.json
  README.md
  src/pages/docs/index.page.tsx
Due: prettier --write

Path conditions:
  eslint --cache: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
