Repository eegli/pampa.place: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

fix login tests
  src/components/google/__snapshots__/google.test.tsx.snap
  tests/integration/login-flow.test.tsx
Due: eslint --cache, prettier --write

fix map selection tests
  src/components/drawer/drawer.test.tsx
  src/components/drawer/drawer.tsx
  src/components/form/select-map.test.tsx
Due: eslint --cache, prettier --write

fix header tests
  src/components/header/header.test.tsx
Due: eslint --cache, prettier --write

replace more spyon expressions
  jest.config.js
  src/components/drawer/drawer.test.tsx
  src/components/speed-dial/speed-dial.test.tsx
  src/lib/analytics-events.test.ts
  src/lib/analytics-events.ts
  src/redux/position/thunks.ts
  src/redux/store.ts
  tests/integration/__snapshots__/about-docs.test.tsx.snap
  tests/integration/login-flow.test.tsx
  tests/integration/play-game.test.tsx
  tests/setup.test.ts
  tests/setup.ts
Due: eslint --cache, prettier --write

adjust new nextjs links
  src/pages/about.page.tsx
  tests/integration/__snapshots__/about-docs.test.tsx.snap
Due: eslint --cache, prettier --write

skip speed dial tests
  src/components/speed-dial/speed-dial.test.tsx
Due: eslint --cache, prettier --write

fix speed dial tests
  jest.config.js
  src/components/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/components/speed-dial/speed-dial.test.tsx
Due: eslint --cache, prettier --write

skip local maps integration tests
  tests/integration/local-maps.test.tsx
Due: eslint --cache, prettier --write

fix broken types
  tests/integration/local-maps.test.tsx
Due: eslint --cache, prettier --write

fix local map integration tests and format files
  src/components/speed-dial/speed-dial.test.tsx
  src/components/speed-dial/speed-dial.tsx
  src/hooks/useLocalStorageMaps.ts
  src/lib/analytics-events.ts
  src/pages/my-maps.page.tsx
  tests/fixtures/map.ts
  tests/integration/local-maps.test.tsx
Due: eslint --cache, prettier --write

minor renamings
  src/pages/game.page.tsx
Due: eslint --cache, prettier --write

mention tests in contribution docs
  CONTRIBUTING.md
Due: prettier --write

fix headings on about page
  src/components/typography/paragraph/link-section.tsx
Due: eslint --cache, prettier --write

update snapshots
  tests/integration/__snapshots__/about-docs.test.tsx.snap
Due: none

fix typo in docs
  CONTRIBUTING.md
Due: prettier --write

adjust script
  geojson/raw/US-geojson-maps.ash.ms.json
  geojson/raw/world.json
  scripts/geojson-maker.js
Due: prettier --write

wip
  geojson/che-cantons.json
  geojson/che.json
  geojson/usa-states.json
  geojson/usa.json
  src/maps/index.ts
Due: eslint --cache, prettier --write

fix submodule config
  .gitmodules
Due: none

update submodule
  geojson/readme.md
Due: prettier --write

rely on maps in submodule
  geojson/che-cantons.json
  geojson/readme.md
  geojson/usa-states.json
  scripts/geojson-maker.js
  src/maps/index.ts
Due: eslint --cache, prettier --write

update maps
  .prettierignore
  package.json
  scripts/geojson-maker.js
  src/components/form/select-map.tsx
  src/config/constants.ts
  src/maps/helpers/generator.ts
  yarn.lock
Due: eslint --cache, prettier --write

minor improvement
  src/maps/index.ts
  src/pages/preview.page.tsx
Due: eslint --cache, prettier --write

remove submodule
  .gitmodules
Due: none

correctly integrate submodule
  .gitmodules
Due: none

undo preview changes
  src/maps/index.ts
  src/pages/preview.page.tsx
Due: eslint --cache, prettier --write

fix workflow
  .github/workflows/ci-workflow.yml
Due: none

fix: submodule not working with vercel
  geojson/che-cantons.json
  geojson/readme.md
  geojson/usa-states.json
  src/maps/index.ts
Due: eslint --cache, prettier --write

add note to map handling
  geojson/readme.md
Due: prettier --write

remove submodules
  .gitmodules
Due: none

integrate maps into project
  .prettierignore
  README.md
  geojson/che-cantons.json
  geojson/readme.md
  geojson/usa-states.json
  src/maps/index.ts
Due: eslint --cache, prettier --write

adjust readme
  README.md
Due: prettier --write

Path conditions:
  eslint --cache: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
