Repository eegli/pampa.place: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

fix yml
  .github/workflows/ci-workflow.yml
Due: none

wip
  .github/workflows/ci-workflow.yml
Due: none

wip
  .github/workflows/ci-workflow.yml
  package.json
Due: prettier --write

test
  .github/workflows/ci-workflow.yml
Due: none

Improvement/github-workflows (#30)
  .github/workflows/ci-workflow.yml
  package.json
Due: prettier --write

improved user map handling
  .gitignore
  jest.config.js
  package.json
  src/components/form/select-map.tsx
  src/components/intermissions/round-over.tsx
  src/components/play/play.tsx
  src/config/__tests__/helpers.test.ts
  src/config/helpers/generator.ts
  src/config/helpers/validator.ts
  src/config/maps.ts
  src/config/types.ts
  src/maps/__mocks__/index.ts
  src/maps/__tests__/maps.test.ts
  src/maps/helpers/enhancer.ts
  src/maps/helpers/generator.ts
  src/maps/helpers/parser.ts
  src/maps/index.ts
  src/pages/api/maps/common/index.ts
  src/pages/my-maps.page.tsx
  src/pages/preview.page.tsx
  src/redux/game/index.ts
  src/redux/position/thunks.ts
  tests/fixtures/map.ts
  tests/integration/__snapshots__/local-maps.test.tsx.snap
  tests/integration/local-maps.test.tsx
  tests/setup.test.ts
  tests/setup.ts
  tsconfig.json
Due: eslint --cache, prettier --write

update readme
  README.md
Due: prettier --write

improvement/user-map-handling (#31)
  .gitignore
  README.md
  jest.config.js
  package.json
  src/components/form/select-map.tsx
  src/components/intermissions/round-over.tsx
  src/components/play/play.tsx
  src/config/__tests__/helpers.test.ts
  src/config/helpers/generator.ts
  src/config/helpers/validator.ts
  src/config/maps.ts
  src/config/types.ts
  src/maps/__mocks__/index.ts
  src/maps/__tests__/maps.test.ts
  src/maps/helpers/enhancer.ts
  src/maps/helpers/generator.ts
  src/maps/helpers/parser.ts
  src/maps/index.ts
  src/pages/api/maps/common/index.ts
  src/pages/my-maps.page.tsx
  src/pages/preview.page.tsx
  src/redux/game/index.ts
  src/redux/position/thunks.ts
  tests/fixtures/map.ts
  tests/integration/__snapshots__/local-maps.test.tsx.snap
  tests/integration/local-maps.test.tsx
  tests/setup.test.ts
  tests/setup.ts
  tsconfig.json
Due: eslint --cache, prettier --write

wip map preview tests
  src/components/google/map.tsx
  src/pages/preview.page.tsx
  tests/integration/preview-maps.test.tsx
  tests/setup.ts
Due: eslint --cache, prettier --write

cleanup map mocks
  tests/setup.test.ts
  tests/setup.ts
Due: eslint --cache, prettier --write

cleanup mocks and add fail barrier for play test
  src/redux/game/index.ts
  tests/integration/login-flow.test.tsx
  tests/integration/play-game.test.tsx
  tests/setup.ts
Due: eslint --cache, prettier --write

replace name of swiss geojson
  geojson/switzerland.json
Due: prettier --write

upgrade google maps mocks to latest and cleanup
  package.json
  src/components/google/map.tsx
  src/pages/preview.page.tsx
  tests/setup.test.ts
  tests/setup.ts
  yarn.lock
Due: eslint --cache, prettier --write

remove unnecessary try-catch blocks
  src/maps/helpers/parser.ts
  tests/integration/utils.ts
Due: eslint --cache, prettier --write

update docs and navigation
  src/components/drawer/drawer.test.tsx
  src/components/drawer/drawer.tsx
  src/components/typography/paragraph/info-box.tsx
  src/pages/about.page.tsx
  src/pages/docs/index.page.tsx
Due: eslint --cache, prettier --write

add dev mode notice
  src/components/typography/paragraph/link-section.tsx
  src/pages/about.page.tsx
Due: eslint --cache, prettier --write

change color of dev notice
  src/pages/about.page.tsx
Due: eslint --cache, prettier --write

put marker stuff into config
  src/components/form/set-players.tsx
  src/components/google/__snapshots__/google.test.tsx.snap
  src/components/google/google.test.tsx
  src/components/google/map.tsx
  src/components/google/marker.ts
  src/components/intermissions/round-over.tsx
  src/config/__tests__/__snapshots__/config.test.ts.snap
  src/config/__tests__/config.test.ts
  src/config/google.ts
  src/config/types.ts
Due: eslint --cache, prettier --write

improve map config and prop types
  src/components/google/map.tsx
  src/pages/poc/map-test.page.tsx
  src/pages/preview.page.tsx
Due: eslint --cache, prettier --write

improve dev notice
  src/components/typography/paragraph/link-section.tsx
  src/pages/about.page.tsx
Due: eslint --cache, prettier --write

fix gmap prop types
  src/components/google/map.tsx
Due: eslint --cache, prettier --write

log simple game events and add document titles
  src/components/drawer/drawer.tsx
  src/components/head/custom-head.tsx
  src/components/login/login.tsx
  src/lib/analytics-events.ts
  src/lib/analytics.tsx
  src/pages/404.page.tsx
  src/pages/_document.page.tsx
  src/pages/about.page.tsx
  src/pages/index.page.tsx
  src/pages/my-maps.page.tsx
  src/pages/preview.page.tsx
  src/pages/wrappers/auth.tsx
  src/redux/middlewares.ts
  src/redux/store.ts
Due: eslint --cache, prettier --write

add tracking tests
  .env.development
  src/lib/__snapshots__/analytics.test.tsx.snap
  src/lib/analytics.test.tsx
  src/lib/analytics.tsx
Due: eslint --cache, prettier --write

wip
  .env.development
  src/lib/__snapshots__/analytics.test.tsx.snap
  src/lib/analytics.test.tsx
  src/lib/analytics.tsx
Due: eslint --cache, prettier --write

log simple game events and add document titles (#32)
  src/components/drawer/drawer.tsx
  src/components/head/custom-head.tsx
  src/components/login/login.tsx
  src/lib/__snapshots__/analytics.test.tsx.snap
  src/lib/analytics-events.ts
  src/lib/analytics.test.tsx
  src/lib/analytics.tsx
  src/pages/404.page.tsx
  src/pages/_document.page.tsx
  src/pages/about.page.tsx
  src/pages/index.page.tsx
  src/pages/my-maps.page.tsx
  src/pages/preview.page.tsx
  src/pages/wrappers/auth.tsx
  src/redux/middlewares.ts
  src/redux/store.ts
Due: eslint --cache, prettier --write

cleanup test
  src/lib/analytics.test.tsx
Due: eslint --cache, prettier --write

fix link in readme
  README.md
Due: prettier --write

add events for game_end
  src/lib/analytics-events.ts
  src/redux/middlewares.ts
Due: eslint --cache, prettier --write

improve event logger middleware
  src/redux/middlewares.ts
Due: eslint --cache, prettier --write

add event tests
  jest.config.js
  src/lib/analytics-events.test.ts
  tsconfig.json
Due: eslint --cache, prettier --write

wip
  src/lib/analytics-events.test.ts
  src/lib/analytics-events.ts
Due: eslint --cache, prettier --write

Improvement/game end events (#33)
  jest.config.js
  src/lib/analytics-events.test.ts
  src/lib/analytics-events.ts
  src/redux/middlewares.ts
  tsconfig.json
Due: eslint --cache, prettier --write

create map hook and persist maptypeid
  src/components/google/__snapshots__/google.test.tsx.snap
  src/components/google/map.tsx
  src/config/google.ts
  src/hooks/useGoogleMap.ts
  src/pages/poc/map-test.page.tsx
  src/pages/preview.page.tsx
  src/pages/wrappers/auth.tsx
Due: eslint --cache, prettier --write

add note about maptypeconstrols
  src/config/google.ts
Due: eslint --cache, prettier --write

Path conditions:
  eslint --cache: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
