Repository eegli/pampa.place: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

update snapshots
  src/components/views/game/__snapshots__/game.test.tsx.snap
  src/components/views/intermissions/__snapshots__/intermissions.test.tsx.snap
Due: none

update docs
  src/pages/docs/index.page.tsx
Due: eslint --cache, prettier --write

update readme
  README.md
Due: prettier --write

re-format readme
  README.md
Due: prettier --write

add path aliases and improve login screen
  jest.config.js
  src/components/game/__snapshots__/game.test.tsx.snap
  src/components/game/game-header.test.tsx
  src/components/game/game-header.tsx
  src/components/game/game.test.tsx
  src/components/game/game.tsx
  src/components/game/intermissions/__snapshots__/intermissions.test.tsx.snap
  src/components/game/intermissions/game-over.tsx
  src/components/game/intermissions/intermissions.test.tsx
  src/components/game/intermissions/round-intermission.tsx
  src/components/game/intermissions/round-over.tsx
  src/components/login/login.test.tsx
  src/components/login/login.tsx
  src/components/typography/__snapshots__/typography.test.tsx.snap
  src/components/typography/typography.test.tsx
  src/components/typography/utils/index.tsx
  src/pages/game.page.tsx
  src/pages/my-maps.page.tsx
  src/pages/wrappers/auth.test.tsx
  src/pages/wrappers/auth.tsx
  src/styles/utils/index.tsx
  tsconfig.json
Due: eslint --cache, prettier --write

padding to the divvvvvv
  src/components/login/login.tsx
Due: eslint --cache, prettier --write

yeet the typo
  src/components/login/login.tsx
Due: eslint --cache, prettier --write

yeet the typo again
  src/components/login/login.tsx
Due: eslint --cache, prettier --write

fix sv requests for low coverage maps
  src/components/game/intermissions/round-intermission.tsx
  src/pages/game.page.test.tsx
  src/pages/game.page.tsx
  src/redux/game/selectors.ts
  src/redux/position/index.ts
Due: eslint --cache, prettier --write

fix sv requests for low coverage maps (#28)
  src/components/game/intermissions/round-intermission.tsx
  src/pages/game.page.test.tsx
  src/pages/game.page.tsx
  src/redux/game/selectors.ts
  src/redux/position/index.ts
Due: eslint --cache, prettier --write

move existing tests
  src/components/intermissions/__snapshots__/intermissions.test.tsx.snap
  src/components/intermissions/game-over.tsx
  src/components/intermissions/intermissions.test.tsx
  src/components/intermissions/round-intermission.tsx
  src/components/intermissions/round-over.tsx
  src/components/play/__snapshots__/game.test.tsx.snap
  src/components/play/play-header.test.tsx
  src/components/play/play-header.tsx
  src/components/play/play.test.tsx
  src/components/play/play.tsx
  src/pages/game.page.tsx
  tests/integration/game/local-maps.tsx
  tests/integration/game/play-game.test.tsx
Due: eslint --cache, prettier --write

add first gameplay integration test wip
  jest.config.js
  package.json
  src/components/form/fields/select-map.tsx
  src/components/google/street-view.tsx
  src/components/intermissions/__snapshots__/intermissions.test.tsx.snap
  src/components/intermissions/intermissions.test.tsx
  src/components/intermissions/round-over.tsx
  src/components/play/__snapshots__/game.test.tsx.snap
  src/components/play/play.tsx
  tests/__snapshots__/setup.test.ts.snap
  tests/integration/game/__snapshots__/local-maps.test.tsx.snap
  tests/integration/game/__snapshots__/play-game.test.tsx.snap
  tests/integration/game/local-maps.test.tsx
  tests/integration/game/play-game.test.tsx
  tests/payloads/google.ts
  tests/setup.test.ts
  tests/setup.ts
Due: eslint --cache, prettier --write

fix swc installation on ci environment
  package.json
Due: prettier --write

game integration tests wip
  src/components/intermissions/round-over.tsx
  src/components/play/__snapshots__/play.test.tsx.snap
  src/components/play/play.test.tsx
  src/services/google/dom.tsx
  tests/integration/game/__snapshots__/play-game.test.tsx.snap
  tests/integration/game/play-game.test.tsx
  tests/payloads/google.ts
Due: eslint --cache, prettier --write

wrap up game integration tests
  src/config/__mocks__/game.ts
  tests/integration/game/__snapshots__/play-game.test.tsx.snap
  tests/integration/game/play-game.test.tsx
  tests/setup.ts
Due: eslint --cache, prettier --write

remove old tests and fix imports
  .eslintrc.json
  jest.config.js
  src/components/drawer/drawer-item.tsx
  src/components/drawer/drawer.test.tsx
  src/components/drawer/drawer.tsx
  src/components/form/form.test.tsx
  src/components/header/header.test.tsx
  src/components/header/header.tsx
  src/components/intermissions/__snapshots__/intermissions.test.tsx.snap
  src/components/intermissions/intermissions.test.tsx
  src/components/play/__snapshots__/play.test.tsx.snap
  src/components/play/play-header.test.tsx
  src/components/play/play.test.tsx
  src/components/speed-dial/__snapshots__/speed-dial.test.tsx.snap
  src/components/speed-dial/speed-dial.test.tsx
  src/components/speed-dial/speed-dial.tsx
  src/config/__mocks__/game.ts
  src/config/__tests__/__snapshots__/config.test.ts.snap
  src/config/__tests__/config.test.ts
  src/pages/404.page.tsx
  src/pages/docs/index.page.tsx
  src/pages/game.page.tsx
  src/pages/index.page.tsx
  src/pages/my-maps.page.tsx
  src/pages/poc/map-test.page.tsx
  src/pages/preview.page.tsx
  tests/integration/game/play-game.test.tsx
Due: eslint --cache, prettier --write

replace unit in favor of integration tests
  src/components/drawer/drawer.test.tsx
  src/components/form/form.tsx
  src/components/login/login.test.tsx
  src/config/constants.ts
  src/pages/wrappers/auth.test.tsx
  src/pages/wrappers/auth.tsx
  src/redux/store.ts
  tests/__snapshots__/setup.test.ts.snap
  tests/integration/__snapshots__/local-maps.test.tsx.snap
  tests/integration/__snapshots__/play-game.test.tsx.snap
  tests/integration/local-maps.test.tsx
  tests/integration/login-flow.test.tsx
  tests/integration/play-game.test.tsx
  tests/integration/utils.ts
  tests/setup.test.ts
  tests/setup.ts
Due: eslint --cache, prettier --write

add form integration tests
  package.json
  src/components/form/__snapshots__/form.test.tsx.snap
  src/components/form/form.test.tsx
  src/components/form/form.tsx
  src/components/form/select-map.test.tsx
  src/components/form/select-map.tsx
  src/components/form/select-round.test.tsx
  src/components/form/select-round.tsx
  src/components/form/select-time.test.tsx
  src/components/form/select-time.tsx
  src/components/form/set-players.test.tsx
  src/components/form/set-players.tsx
  src/pages/index.page.tsx
  tests/integration/form-input.test.tsx
  tests/integration/login-flow.test.tsx
  tests/integration/utils.ts
Due: eslint --cache, prettier --write

less containers around google instances
  README.md
  jest.config.js
  src/components/google/map.tsx
  src/components/google/street-view.tsx
  src/components/play/play.tsx
  src/pages/preview.page.tsx
  tests/integration/play-game.test.tsx
Due: eslint --cache, prettier --write

add type check workflow
  .github/workflows/ci-workflow.yml
  .github/workflows/type-check-workflow.yml
  package.json
Due: prettier --write

cache node modules in gh action
  .github/workflows/ci-workflow.yml
  .github/workflows/type-check-workflow.yml
Due: none

wip
  .github/workflows/ci-workflow.yml
  package.json
Due: prettier --write

wip
  .github/workflows/ci-workflow.yml
Due: none

update key
  .github/workflows/ci-workflow.yml
Due: none

use cache
  .github/workflows/ci-workflow.yml
Due: none

names
  .github/workflows/ci-workflow.yml
Due: none

separate tests
  .github/workflows/ci-workflow.yml
  package.json
Due: prettier --write

Path conditions:
  eslint --cache: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
